html,
body {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
}

* {
    font-family: "Rubik", sans-serif;
}

.font-light {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}

.font-medium {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.font-bold {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.font-light-italic {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
}

.font-medium-italic {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
}

.font-bold-italic {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
}

#load {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.524);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999000;
    user-select: none;
}

#load_img {
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#background {
    width: 100%;
    height: 100%;
    background-color: rgb(159, 159, 159);
}

#login-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-image: url(../img/login_bg.png);
    background-size: cover;
    background-position: center;
}

#basic-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    height: fit-content;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header-searchbar {
    margin: 40px 20px 0 20px;
    height: 50px;
    background-color: white;
    border-radius: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.header-searchbar .icon {
    width: 50px;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    float: left;
}

.header-searchbar .icon img {
    width: 35px;
    height: 35px;
    margin: auto;
    border-radius: 1000px;
}

.header-search-input {
    width: calc(100% - 100px);
    height: 100%;
    float: left;
}

.header-search-input input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
}

.header-labels {
    width: 100%;
    height: 35px;
    padding: 10px 0;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 10px;
}

.header-label {
    width: fit-content;
    height: 26px;
    padding: 8px 10px 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color: white;
    border-radius: 1000px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.header-label:hover {
    background-color: #EAEAEA;
}

.header-user-label {
    width: fit-content;
    height: 26px;
    padding: 8px 10px 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color: #e4f8ff;
    border-radius: 1000px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    outline: 5px dashed #38abff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.header-user-label:hover {
    background-color: #becfd5;
}

footer {
    height: fit-content;
    width: 100%;
    position: absolute;
    bottom: 0;
    pointer-events: none;
    user-select: none;
}

.footer-buttons {
    width: 100%;
    height: 250px;
    position: relative;
    user-select: none;
    pointer-events: none;
}

.footer-small-buttons,
.footer-big-buttons {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    pointer-events: all;
    cursor: pointer;
    user-select: none;
}

.footer-big-button:hover,
.footer-small-button:hover {
    background-color: #EAEAEA;
}

.footer-small-buttons {
    float: left;
    align-content: left;
    justify-content: left;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.footer-big-buttons {
    align-content: right;
    justify-content: right;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.footer-small-button {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 1000px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: auto;
}

.footer-small-button .img-icon {
    width: 20px;
    height: 20px;
    margin: auto;
}

.footer-big-button {
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 1000px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: auto;
}

.footer-big-button .img-icon {
    width: 35px;
    height: 35px;
    margin: auto;
}

.footer-items {
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    float: left;
    user-select: auto;
    pointer-events: all;
}

.footer-item {
    float: left;
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.footer-item-img {
    width: 90%;
    height: 50%;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    user-select: none;
    cursor: pointer;
}

.footer-item-img .img-icon {
    width: auto;
    height: 80%;
}

.footer-item-img:hover {
    background-color: #EAEAEA;
}

.footer-item-selected {
    background-color: #EAEAEA;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
}

.footer-item-disabled {
    background-color: transparent;
    box-shadow: none;
}

.footer-item-disabled:hover {
    background-color: transparent;
}

.my-tooltip {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    height: auto !important;
    width: 96px;
    white-space: normal !important;
    font-size: 16px;

    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-shadow: 1px 1px 0px white, -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white;
}

#user-profile-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.524);
    user-select: none;
}

.user-profile {
    float: left;
    width: 100%;
    height: fit-content;
    padding: 25px 25px 10px 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.user-profile-principal-container {
    width: calc(100% - 50px);
    height: 100px;
    float: left;
}

.user-profile-principal-img-container {
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
    user-select: none;
    cursor: pointer;
}

.user-profile-principal-img-container:hover {
    filter: brightness(70%);
}

.user-profile-principal-img-container-img {
    width: 100%;
    height: 100%;
    border-radius: 1000px;
}

.user-profile-principal-img-container-change {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 35px;
    border-radius: 1000px;
}

.user-profile-name-container {
    width: calc(100% - 100px);
    height: 50px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: left;
}

.user-profile-name-container span {
    font-size: 20px;
    color: black;
    margin-left: 10px;
}

.user-profile-email-container {
    width: calc(100% - 100px);
    height: 20px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: left;
}

.user-profile-email-container span {
    font-size: 14px;
    color: black;
    margin-left: 10px;
}

.profile-labels {
    width: calc(100% - 50px);
    height: 35px;
    padding: 10px 5px 10px 0;
    overflow-x: auto;
    white-space: nowrap;
}

.profile-label {
    width: fit-content;
    height: 26px;
    padding: 8px 10px 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color: #e4f8ff;
    border-radius: 1000px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    outline: 5px dashed #38abff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.profile-label:hover {
    background-color: #becfd5;
}

.profile-buttons {
    width: calc(100% - 50px);
    height: 100px;
    float: left;
    user-select: none;
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.profile-button {
    float: left;
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.profile-button-label {
    background-color: #d0ffcc;
}

.profile-button-label:hover {
    background-color: #a2c79e;
}

.profile-button-close {
    background-color: #ccefff;
}

.profile-button-close:hover {
    background-color: #a5c1cf;
}

#user-profile-container > span {
    font-size: 16px;
    color: black;
    margin-top: 10px;
    float: left;
}

.user-icon {
    cursor: pointer;
}

.profile-close-container {
    width: calc(100% - 50px);
    height: 50px;
    float: left;
    user-select: none;
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.back-arrow-container {
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.back-arrow-img {
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
    user-select: none;
    cursor: pointer;
}

.back-arrow-img:hover {
    background-color: #cacaca;
}

.back-arrow {
    width: auto;
    height: 35px;
    margin: auto;
}

.reload-arrow {
    width: auto;
    height: 35px;
    margin: auto;
}

.play-arrow {
    width: auto;
    height: 35px;
    margin: auto;
}

.profile-crud-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}

#bottom-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.524);
    user-select: none;
}

.bottom-content {
    position: absolute;
    bottom: 0;
    float: left;
    width: 100%;
    height: 65%;
    max-height: 65%;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.bottom-close-container {
    width: calc(100% - 20px);
    height: 50px;
    float: left;
    user-select: none;
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bottom-close-container > div > div > img.back-arrow {
    transform: rotate(180deg);
}

#basic-content form {
    width: calc(85% - 50px);
    height: fit-content;
    max-height: calc(90% - 50px);
    overflow-y: auto;
    padding: 25px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

#basic-content form > h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
}

#basic-content form > label {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 20px;
}

#basic-content form > a {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 14px;
    color: rgb(0, 0, 199);
    text-decoration: none;
}

#basic-content form > input {
    margin: 0;
    padding: 0;
    width: calc(100% - 40px);
    height: 40px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background-color: #f9f9f9;
    border-radius: 1000px;
    padding: 0 20px;
    font-size: 20px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
}

#basic-content form > button {
    width: fit-content;
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: calc(50% - 100px);
    background-color: #d0ffcc;
    border-radius: 1000px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
    color: white;
    background-color: #8a0f3a;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
}

#bottom-container-content {
    float: left;
    width: calc(100% - 20px);
    height: calc(100% - 60px);
    overflow-y: auto;
    margin-top: 10px;
    user-select: all;
}

.bottom-reload-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-play-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}



.bottom-gincana-selected {
    width: 100%;
    height: fit-content;
}

.bottom-gincana-selected-title {
    font-size: 24px;
    text-align: center;
}

.bottom-gincana-selected-desc {
    font-size: 14px;
    text-align: justify;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.bottom-gincana-selected-creator {
    float: left;
    width: 50%;
    font-size: 16px;
    text-align: left;
    margin-bottom: 15px;
}

.bottom-gincana-selected-checkpoints {
    float: left;
    width: 50%;
    right: 0;
    font-size: 16px;
    text-align: right;
    margin-bottom: 15px;
}

.bottom-gincana-selected-session {
    width: 100%;
    padding: 0 10px 0 10px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.bottom-gincana-selected-session-container {
    float: left;
    width: 65%;
    height: 100%;
    background-color: rgb(212, 212, 212);
    border-radius: 1000px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
}

.bottom-gincana-selected-session-container-title {
    float: left;
    width: 100%;
    height: 40%;
    font-size: 18px;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 4%;
}

.bottom-gincana-selected-session-container-creator {
    float: left;
    width: 100%;
    height: 50%;
    font-size: 14px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.bottom-gincana-selected-session-join {
    float: left;
    height: 65px;
    width: 65px;
    border-radius: 1000px;
    background-color: #d0ffcc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.bottom-gincana-selected-session-join:hover {
    background-color: #a2c79e;
}

.bottom-gincana-selected-session-join img {
    width: 35px;
    height: 35px;
    margin: auto;
}





.bottom-gincana-session {
    width: 100%;
    height: fit-content;
}

.bottom-gincana-session-title {
    font-size: 24px;
    text-align: center;
}

.bottom-gincana-session-name {
    font-size: 22px;
    text-align: left;
}

.bottom-gincana-session-groups-title-container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 15px;
}

.bottom-gincana-session-groups-title {
    font-size: 24px;
    text-align: center;
}

.bottom-gincana-session-groups-create {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #d0ffcc;
    border-radius: 1000px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bottom-gincana-session-groups-create img {
    width: 35px;
    height: 35px;
    margin: auto;
}

.bottom-gincana-session-groups-create:hover {
    background-color: #a2c79e;
}

.bottom-gincana-session-group {
    width: calc(100% - 20px);
    padding: 10px;
    height: fit-content;
    background-color: #d3eaff;
    border-radius: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 25px;
    text-align: center;
}

.bottom-gincana-session-group-title {
    font-size: 24px;
}

.bottom-gincana-session-group-user {
    width: calc(100% - 20px);
    margin-top: 15px;
    height: fit-content;
    padding: 6px 10px;
    font-size: 16px;
    text-align: left;
    background-color: white;
    border-radius: 1000px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
}

.bottom-gincana-session-group-join-container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.bottom-gincana-session-group-join {
    width: 125px;
    height: 50px;
    background-color: #d0ffcc;
    border-radius: 1000px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.bottom-gincana-session-group-join img {
    width: 35px;
    height: 35px;
    margin: auto;
}

.bottom-gincana-session-group-join:hover {
    background-color: #a2c79e;
}




.bottom-gincana-mysession {
    width: 100%;
    height: fit-content;
}

.bottom-gincana-mysession-group {
    width: calc(90% - 20px);
    padding: 5px 10px;
    height: fit-content;
    background-color: #d3eaff;
    border-radius: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    margin-left: calc(7.5% - 10px);
    text-align: center;
}

.bottom-gincana-mysession-groups-title {
    font-size: 24px;
    text-align: center;
}

.bottom-gincana-mysession-groups-create {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #ffcccc;
    border-radius: 1000px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bottom-gincana-mysession-groups-create img {
    width: 35px;
    height: 35px;
    margin: auto;
}

.bottom-gincana-mysession-groups-create:hover {
    background-color: #c79e9e;
}

.bottom-gincana-mysession-groups-close {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #ffcccc;
    border-radius: 1000px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bottom-gincana-mysession-groups-close img {
    width: 35px;
    height: 35px;
    margin: auto;
}

.bottom-gincana-mysession-groups-close:hover {
    background-color: #c79e9e;
}

.bottom-gincana-mysession-group-title {
    font-size: 16px;
}

.bottom-gincana-mysession-clue-container {
    width: 100%;
    height: fit-content;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 20px;
}

.bottom-gincana-mysession-clue-title {
    text-align: center;
}

.bottom-gincana-mysession-clue-title h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.bottom-gincana-mysession-clue {
    width: calc(100% - 20px);
    padding: 10px;
    height: fit-content;
    background-color: #f3f3f3;
    border-radius: 40px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.bottom-gincana-mysession-clue-text {
    font-size: 16px;
    text-align: justify;
}

.bottom-gincana-mysession-clue-left {
    font-size: 16px;
    text-align: left;
}

.bottom-gincana-mysession-clue-arrived {
    font-size: 16px;
    text-align: left;
    margin: 5px 0 15px 0;
}



.bottom-gincana-finished {
    width: 100%;
    height: fit-content;
}

.bottom-gincana-finished-position-container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 197);
    border-radius: 10000px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.bottom-gincana-finished-position-container span {
    font-size: 24px;
    text-align: center;
}

.bottom-gincana-finished-left-container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.bottom-gincana-finished-left {
    width: 125px;
    height: 50px;
    background-color: #ffcccc;
    border-radius: 1000px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.bottom-gincana-finished-left img {
    width: 35px;
    height: 35px;
    margin: auto;
}

.bottom-gincana-finished-left:hover {
    background-color: #c79e9e;
}

body.crud > #basic-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.crud {
    display: inline-block;  
    width: calc(90% - 60px);
    height: calc(90% - 60px);
    background-color: white;
    position: relative;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

#no-mobiles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darkblue;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#no-mobiles span {
    font-size: 28px;
    color: white;
    text-align: center;
    max-width: 80%;
}

div.crud h1 {
    text-align: center;
    font-size: 34px;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    max-height: 30px;
}

.crud-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.crud-header button {
    margin-right: 30px;
    width: fit-content;
    padding: 0 20px;
    height: 40px;
    background-color: #8a0f3a;
    color: white;
    border-radius: 1000px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.crud-header button:hover {
    background-color: #590a26;
}

.crud-search {
    width: 30%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crud-search input {
    width: calc(100% - 40px);
    height: 100%;
    border: none;
    outline: none;
    background-color: #f9f9f9;
    border-radius: 1000px;
    padding: 0 20px;
    font-size: 20px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
}

.crud-container {
    position: absolute;
    bottom: 60px;
    width: calc(100% - 60px);
    height: calc(100% - 250px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.crud-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 25px;
    border-radius: 25px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(235, 235, 235);
}

.crud-content table {
    width: 100%;
    border-collapse: collapse;
}

.crud-content table th {
    background-color: #ccf5ff;
    font-size: 20px;
    padding: 10px;
    border: 6px solid rgb(235, 235, 235);
    border-radius: 15px;
}

.crud-content table td {
    background-color: white;
    font-size: 16px;
    padding: 10px;
    border: 6px solid #ebebeb;
    margin: 2px;
    text-align: center;
}

.crud-content table td img {
    display: block;
    width: auto;
    height: 50px;
    margin: auto;
}

.crud-content table tr:hover {
    background-color: #EAEAEA;
}

.crud-content table tr td:last-child {
    width: 100px;
}

.crud-content table tr td:last-child a {
    float: left;
    width: calc(100% - 24px);
    height: 40px;
    background-color: #8a0f3a;
    color: white;
    border-radius: 1000px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.crud-content table tr td:last-child a:hover {
    background-color: #590a26;
}

.crud-content table tr td:last-child button img {
    width: 25px;
    height: 25px;
}

.crud-content table tr td:last-child button img:hover {
    width: 30px;
    height: 30px;
}

body.swal2-height-auto {
    height: 100% !important
}

.crud-back-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
}

.crud-marks-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 30px;
}

.crud-labels-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 100px;
}

.crud-users-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 170px;
}

#closeModal {
    padding: 0px 30px 2px 30px;
    background-color: #ff8b8b;
    color: black;
    border-radius: 1000px;
    border: 0;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#closeModal:hover {
    background-color: #d37171;
}

.swal2-popup {
    margin: 20px !important;
    border-radius: 25px !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5) !important;
}

.crud-form {
    width: 100%;
    height: fit-content !important;
}


.crud-form label {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 20px;
}

.crud-form > label {
    float: left;
}

.crud-form > input:not([type="color"]),
.crud-form select {
    margin: 0;
    padding: 0;
    width: calc(100% - 40px);
    height: 40px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background-color: #f9f9f9;
    border-radius: 1000px;
    padding: 0 20px;
    font-size: 20px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
}

.crud-form textarea {
    margin: 0;
    padding: 0;
    width: calc(100% - 20px);
    height: 60px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
}

.crud-form input[type="color"] {
    margin: 0;
    padding: 0;
    width: calc(50% - 40px);
    height: 40px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background-color: #f9f9f9;
    border-radius: 1000px;
    padding: 0 20px;
    font-size: 20px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
}

.crud-form button {
    width: fit-content;
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #d0ffcc;
    border-radius: 1000px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
    color: white;
    background-color: #8a0f3a;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
}

.crud-form img {
    margin: 20px 0 20px 0;
    width: auto;
    height: 120px;
}

.crud-form button:hover {
    background-color: #590a26;
}

.colLista {
    width: calc(50% - 42.5px);
    float: left;
    height: calc(100% - 50px);
    overflow-y: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 15px;
}

.colMapa {
    margin-left: 25px;
    width: calc(50% - 12.5px);
    float: left;
    height: calc(100% - 50px);
    background-color: white;
    border-radius: 15px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    outline: none;
    border: none;
}

.colMapa #map {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    outline: none;
    border: none;
}

.colMapa #mapMod,
.colMapa #mapNew {
    width: 100%;
    height: 300px;
    border-radius: 0 0 15px 15px;
    outline: none;
    border: none;
}

.colMapa .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
    user-select: none;
    pointer-events: none;
    z-index: 500;
    outline: none;
    border: none;
}

.colMapa .shadowMod {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    border-radius: 0 0 15px 15px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
    user-select: none;
    pointer-events: none;
    z-index: 500;
    outline: none;
    border: none;
}

.colMapaMod {
    padding-top: 10px;
}

.fila > button {
    width: fit-content;
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #d0ffcc;
    border-radius: 1000px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
    color: white;
    background-color: #8a0f3a;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
}

.fila > button:hover {
    background-color: #590a26;
}

.crud-form.colLista {
    max-height: 350px;
}

@media (max-width: 700px) {
    div.crud #no-mobiles {
        display: flex;
    }
}