.imgPoint{
    /* float: left; */
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-color: black;
}
.iconsCRUD{
    display: block;
    height: 50px;
    width: 35px;
}
.iconsForm{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.picCRUD{
    display: block;
    height: 50px;
    width: 50px;
}